div.pulldown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-top: 5px;
    padding: 10px 30px;
    background-color: rgba(#F5F5F5, 0.8);
    border-radius: 5px;
    font-weight: 600;
    color: #30475E;

    span {
        display: flex;
        align-items: center;
        padding: 10px;
        white-space: nowrap; /* 줄바꿈 방지 */
    }
}
