.header {
  position: fixed;
  z-index: 999;
  display: flex;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 10px 6px rgb(0 0 0 / 30%);
  opacity: 1;
  transition: opacity 0.5s ease;

  > .logo {
    width: 120px;
    margin: 5px 0 0 150px;
  }

  > .tab-wrapper {
    position: relative;
    margin-right: 8%;

    &:first-of-type {
      margin-left: 15%;
    }

    > .tab {
      display: flex;
      width: 100%;
      padding-top: 50px;
      padding-bottom: 5px;
      font-family: Maven+Pro;
      font-size: 18px;
      color: #f5f5f5;

      &:hover {
        color: #f05454;
        cursor: grab;
      }

      > .icon.external-link {
        padding-left: 5px;
      }
    }
  }
}

.header.hide {
  pointer-events: none;
  opacity: 0;
}

.header.show.fixed-header {
  background-color: #16547e;
}

div.empty-box {
  margin-top: 75px;
}